/*
    Document   : controlStyle2
*/
.root {
    -fx-font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    -fx-font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -fx-background-color: #F5F5FF;
}

.label {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.button:disabled {
    -fx-opacity: 0.45;
}

.button {
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-border-style: solid;
    -fx-border-width: 0 1px 4px 1px;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: WHITE;
}

.button {
    -fx-border-color: #127ba3;
    -fx-background-color: #158CBA;
}

.button:hover {
    -fx-background-color: #117298;
    -fx-border-color: #106a8c;
}

.button-secondary {
    -fx-background-color: #f0f0f0;
    -fx-border-color: #c7c6c6;
    -fx-text-fill: BLACK;
}

.button-secondary:hover {
    -fx-background-color: #dddddd;
    -fx-border-color: #d7d6d6;
}

.text-field {
    color: blue;
    -fx-background-color: rgb(200, 231, 210);
    -fx-text-fill: green;

}

.table-view {
    color: blue;
    -fx-background-color: rgb(183, 250, 223);
}

.title-label {
    -fx-text-fill: white;
    -fx-background-color: rgb(8, 117, 122);
}

.title-bar {
    -fx-background-color: rgb(8, 117, 122);
}
